<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.cola.smartcanvas.mapper.ChartMapper">

    <resultMap id="BaseResultMap" type="cn.cola.smartcanvas.model.po.Chart">
        <id property="id" column="id" jdbcType="BIGINT"/>
        <result property="goal" column="goal" jdbcType="VARCHAR"/>
        <result property="chartData" column="chart_data" jdbcType="VARCHAR"/>
        <result property="chartType" column="chart_type" jdbcType="VARCHAR"/>
        <result property="generatedChart" column="generated_chart" jdbcType="VARCHAR"/>
        <result property="analyzedResult" column="analyzed_result" jdbcType="VARCHAR"/>
        <result property="createrId" column="creater_id" jdbcType="BIGINT"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
        <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
        <result property="hasDeleted" column="has_deleted" jdbcType="TINYINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,chart_name,goal,chart_data,
        chart_type,generated_chart,analyzed_result,
        creater_id,create_time,update_time,
        has_deleted
    </sql>
</mapper>
